body{
	font-family: sans-serif;
}
p.player-marker{
	text-align:center;
	font-size:2rem;
}

#new-game-btn{
	display:block;
	margin:0 auto;
}

td{
	height: 150px;
	width: 150px;
	border: 1px solid blue;
	text-align:center;
	font-size:4em;
}


td:hover{
	background-color: #c8edf4;
	opacity: .3;
}